<div class="footer-div">
  <div class="footer">
    <div class="name-impressum">
      <h3>M</h3>
      <h3 style="color: #00bee8">a</h3>
      <h3>nu</h3>
      <h3 style="color: #4b47ff">e</h3>
      <h3>l</h3>
    </div>

    <div>© Manuel Greulich 2023</div>

    <div class="footer-icons">
      <a href="https://github.com/Manuel-Greulich" target="_blank"
        ><img src="/../assets/img/github-logo.png"
      /></a>
      <a href="mailto:manuelgreulich@yahoo.com"
        ><img src="/../assets/img/mail-logo.png"
      /></a>
      <a href="https://www.linkedin.com/in/manuel-g-49b357234/" target="_blank"
        ><img src="/../assets/img/linkedIn-logo.png"
      /></a>
    </div>
  </div>
  <div class="impressum"><a routerLink="/imprint">Impressum</a></div>
</div>
